[flake8]
max-line-length = 100
exclude = 
    .git
    __pycache__
    venv
ignore = 
    I201
per-file-ignores = 
    **/__init__.py:F401
    visualisation/main.py:I100, D103
    path_sampling/spline.py:D208
